<!DOCTYPE html>
<html>
  <head>
    <title>Fase 2 - Proyecto ATI 2</title>
    <%= csrf_meta_tags %>

    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
  </head>

  <body>
  <header>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand ff-pacifico" href="/">3J' STORE</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="">
            <%= link_to "Inicio", root_path%>
        </li>
        <li>
          <%= link_to "Productos", products_path %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li>
              <%= link_to "Perfil", '/perfil'%>
            </li>
            <li>
              <%= link_to "Carrito", prodcarts_index_path %>
            </li>
            <li>
              <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to "Iniciar sesión", new_user_session_path %>
            </li>
            <li>
              <%= link_to "Registrarse", new_user_registration_path %>
            </li>
            <li>
              <%= link_to "Registrarse por API", '/registro_api' %>
            </li>
          <% end %>

      </ul>
    </div>
  </nav>
  </header>
      <div id="notice_wrapper">
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% elsif alert %>  
          <p class="alert"><%= alert %></p>
        <% end %>   
      </div>
    <%= yield %> 
  </body>

</html>
