<h2 class = "ff-pacifico">Comentario <%= @comment.id %></h2>
<br>
<div class="container">
  	<div class="row">
  		<div class = "formulario">
			<p>
			  <strong>Nombre:</strong>
			  <%= @comment.nombre %>
			</p>

			<p>
			  <strong>Descripción:</strong>
			  <%= @comment.descripcion %>
			</p>

			<% if current_user.id == @comment.user %>
				<%= link_to 'Editar', edit_comment_path(@comment), class:"btn btn-primary" %>
			<% end %>
			<%= link_to 'Regresar', comments_path, class:"btn btn-primary" %>

		</div>
	</div>
</div>


